<%- contentFor('body') %>

<%- msgLog %>
<br>
<button><a href='/chestionar'>Chestionar</a></button>
<button><a href='/de-logare'>De-logare</a></button>
<%- contentFor('body') %>
<link href="pulic/style.css" rel="stylesheet" type="text/css">
<head>
    <h1>Chestionar Auto</h1>
</head>

<button><a href='/autentificare'>Autentificare</a></button> 


<%- msgLog %>
<br>
<button><a href='/chestionar'>Chestionar</a></button>
<button><a href='/de-logare'>De-logare</a></button>


