<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" lang="ro">
  <script src = "js/script.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <title>Chestionar Auto</title>
  <style>
      .eroare {
      color: red;
    }
  </style>
</head>
<body>
  <div class="left-alligned">
    <a href="/"> Home </a>
</div>
  
<main>
  <%- body %>
</main>

  <footer>
    &copy; 2021 Auto Nedelcu
  </footer>

</body>
</html>