<%-contentFor('body')%>
<h2>Ati raspuns corect la <%=nrIntrebariCorecte %> intrebari</h2>
<br>
<h2>Ati raspuns gresit la <%=nrIntrebarigresite %> intrebari</h2>
<button><a href="/chestionar">RETRY</a></button>

<%-contentFor('footer')%>
